﻿ContentPage{
    background-color:silver;
}

StackLayout {
    padding: 10;
}

.LoginButton {
    border-radius: 23;
    height: 46;
}

Entry {
    border-radius: 23;
    height: 46;
}

Frame{
    border-radius:5;
}

ListView{
    background-color:transparent;
}
